// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

body
  background-color: #F9FAFA

// Custom container
.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger, &.note, &.cat
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    border-radius 8px
  &.cat
    background-color #f3f5f7
    border-color darken(purple, 20%)
    color darken(purple, 40%)
    .custom-block-title
      color darken(purple, 40%)
    a
      color $textColor
  &.note
    background-color #E6F7EC
    border-color #01A194
    color #01A194
    .custom-block-title
      color #0F504A
    a
      color #0C625B

.fancy p::after
  content " →"

.content{
  max-width: 880px;
}
  
// Table of content
.table-of-contents
  margin-top: -5rem;
  margin-left: 48rem;
  position: fixed;

  ul
    list-style-type none
    li 
      a
        color #565C5F
        font-weight 400
        

.toc-title
  color: $textColor;
  opacity: 0.5
  text-transform: uppercase
  font-weight: 700
  float: right;
  margin-top:-9em;
  margin-right: -10.2em;
  position: sticky;

// Markdown table
table {
  border-radius: 6px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 0.3px #E9EBEB; /* this draws the table border  */ 
  background-color: white
  border: 1px #E9EBEB solid

  thead tr:first-child {
    background-color: rgba(223, 226, 229, 0.2)
  }

  tr {
    border-top: 2px;
  }

  th {
    border: 2px;
  }

  td {
    min-width: 80px;
    border:none;
  }
}



// Page specific custom style
.theme-container.custom-page-class {
  /* page-specific rules */
  .content {
    width: 80%
  }

  .navbar {
    display: flex;
    height: 5rem;
    align-items: center;
  }

  .links {
    display: flex;
    align-items: center;
    height: 3rem;
    position: static;
    margin: auto;
  }

  .search-box input {
    cursor: text;
    width: 30rem;
    height: 2.6rem;
    color: #4e6e8e;
    display: inline-block;
    border: 1px solid #cfd4db;
    border-radius: 0.2rem;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 0.5rem 0 2rem;
    outline: none;
    transition: all 0.2s ease;
    background: #fff url(/assets/img/search.83621669.svg) 0.8rem 0.8rem no-repeat;
    background-size: 1rem;
  }
}


  footer {
    margin-top: 2rem;
    width: 100%;
    height: 8rem;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2rem;
  }


  