// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

body .navbar
  background-color: #F9FAFA

// Custom container
.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger, &.note, &.cat
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    border-radius 8px
  &.cat
    background-color #f3f5f7
    border-color darken(purple, 20%)
    color darken(purple, 40%)
    .custom-block-title
      color darken(purple, 40%)
    a
      color $textColor
  &.note
    background-color #E6F7EC
    border-color #01A194
    color #01A194
    .custom-block-title
      color #0F504A
    a
      color #0C625B

.fancy p::after
  content " →"
  
// Table of content
.table-of-contents
  margin-top 5rem
  margin-left 46rem
  position fixed

  ul
    list-style-type none
    li 
      a
        color #565C5F
        font-weight 400

// Markdown table
table {
  border-radius: 6px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 0.3px #E9EBEB; /* this draws the table border  */ 
  background-color: white
  border: 1px #E9EBEB solid

  thead tr:first-child {
    background-color: rgba(223, 226, 229, 0.2)
  }

  tr {
    border-top: 2px;
  }

  th {
    border: 2px;
  }

  td {
    min-width: 80px;
    border:none;
  }
}

footer {
  margin-top: 2rem;
  width: 100%;
  height: 8rem;
  color: white;
  background-color: black;
  text-align: center;
  padding: 2rem;
}


// Page specific custom style
.theme-container.custom-page-class {
  /* page-specific rules */

}
  